<?xml version="1.0" encoding="UTF-8"?>
<!--beans定义多个将要由ioc 管理的java bean对象元数据-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="..." class="..."><!--每个bean对应的是一个将要有ioc管理的java bean的对象元数据-->
       <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="..." class="...">
       <!-- collaborators and configuration for this bean go here -->
    </bean>

       <!-- more bean definitions go here -->
</beans>

